/.vscode
/coremods
/crash-reports
/defaultconfigs
/gtceu
/journeymap
/ldlib
/local
/logs
/modernfix
/mods
/patchouli_books
/resourcepacks
/saves
/schematics
/screenshots
/server-resource-packs
/shaderpacks
/simplebackups
/texturepacks
/emi.json
/imgui.ini
/options.txt
/patchouli_data.json
/rhino.local.properties
/usercache.json
/usernamecache.json